.card-detail {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 80px 0px #F2F5FA;
    padding: 24.37px 13px 23.63px 24px;
    max-width: 450px;

    &__span {
        margin: 20.42px 0 0 0;
    }

    &__icon-text {
        display: flex;
        gap: 11px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 15.26px 0 0 0;
        gap: 11px;
    }
}

@media screen and (min-width:768px) {

    .card-detail {
        height: 100%;
        border-radius: 30px;
        background: #FFF;
        box-shadow: 0px 20px 80px 0px #F2F5FA;
        max-width:none;

        &__span {
            margin: 24px 0 0 0;
        }

        &__body {
            gap: 24.53px;
        }
    }

}