 @import '../../../style/style.scss';

 .margin-0 {
    margin:0;
 }

 .heading1 {
     font-size: 34px;
     font-weight: 700;
     color: map-get($palette, base);
     margin:0;

     &--logo {
        font-size:24px;
        margin-right:auto;
        color: map-get($palette, base);
     }
 }

 .heading2 {
     font-size: 20px;
     font-weight: 700;
     color: map-get($palette, base);

     &--small {
        font-size:15px;
     }
 }

 .heading3 {
     font-size: 16px;
 }

 .heading4 {
     font-size: 13px;
     color: map-get($palette, text);
     font-weight: 400;

     &--bold {
      font-weight: 700;
      color: map-get($palette, base);
     }

     &--large {
        font-size:15px;
        font-weight: 400;
        color: map-get($palette, base);
     }

     &--extra-large {
        color: map-get($palette, base);
        font-size: 14px;
     }

     &--extra-large-bold {
        color:map-get($palette, base);
        font-weight: 700;
        font-size: 14px;
     }
 }

 .heading5 {
     font-size: 16px;
     font-weight: 400;
     color: map-get($palette, base);

     &--bold {
        font-weight: 700;
        color: map-get($palette, base);
     }
 }

 .paragraph {
     font-size: 15px;
     color: map-get($palette, text);

     &--text {
        font-size: 13px;
     }

     &--small {
        font-size: 11px;
     }

     &--large {
        font-size:13px;
        text-align: center;
     }
 }

 .span {
     font-size: 12px;
     color: map-get($palette, detail);

     &--extra-small {
        font-size: 12px;
     }

     &--small {
        font-size: 12px;
    }

     &--span-large {
        color: map-get($palette, base);
        font-size: 14px;
    }
   
    &--icon {
        font-size: 14px;
        color: map-get($palette, text);
    }

    &--icon-small {
        font-size: 11px;
        color: map-get($palette, text);
    }
   
    &--account {
        font-size: 13px;
        color:map-get($palette, base);
    }
   
    &--text {
       font-size: 13px;
       font-weight: 700;
    }

    &--h4like-base {
      font-size: 13px;
      color: map-get($palette, base);
      font-weight: 700;
    }

    &--h4like-text {
      font-size: 13px;
      color: map-get($palette, text);
      font-weight: 400;
    }

    &--micro {
      font-size: 4.1px;
      color:map-get($palette, information);
      font-weight: 400;
    }

    &--micro-base {
      font-size: 4.1px;
      color:map-get($palette, base);
      font-weight: 400;
    }
 }

 .link {
    color: map-get($palette, text);
    font-size:16px;
    font-weight: 400;

    &--small {
        font-size:14px;
    }

    &--icon {
      font-size: 13px;
      color: map-get($palette, icon);
      font-weight: 700;
    }
 }

 @media screen and (min-width: 768px) {

     .heading1 {
         font-size: 58px;

         &--logo {
            font-size:34.8px;
         }
     }

     .heading2 {
         font-size: 36px;
     }

     .heading3 {
         font-size: 36px;
     }

     .heading4 {
         font-size: 16px;

         &--large {
            font-size:24px;
         }

         &--extra-large {
            font-size: 24px;
         }

         &--extra-large-bold {
            font-size: 24px;
         }
     }

     .heading5 {
         font-size: 21px;
         color: map-get($palette, text);

         &--bold {
            font-weight: 700;
            color: map-get($palette, base);
         }
     }

     .paragraph {
         font-size: 21px;

         &--text {
            font-size: 16px;
         }

         &--small {
            font-size:14px;
         }

         &--large {
            font-size:21px;
         }
     }

     .span {
         font-size: 19px;

         &--extra-small {
            font-size: 14px;
         }

        &--small {
            font-size: 16px;
        }

         &--large {
            font-size: 21px;
        }
   
        &--icon {
            font-size: 16px;
        }

        &--icon-small {
            font-size: 16px;
        }
   
        &--account {
            font-size: 13px
        }
   
        &--text {
           font-size: 16px;
        }

        &--h4like-base {
         font-size: 16px;
       }

       &--h4like-text {
         font-size: 16px;
       }

       &--micro {
         font-size: 13.706px;
       }

       &--micro-base {
         font-size: 13.706px;
       }
     }

     .link {
        color: map-get($palette, text);
        font-size:16px;

        &--small {
            font-size:16px;
        }

        &--icon {
         font-size: 16px;
         color: map-get($palette, icon);
         font-weight: 700;
       }
     }

 }