.navbar {
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index:1;
    padding: 52px 20px 0 20px;

    &__burger {
        display: flex;
    }

    &__ring {
        display:none;
    }

    &__links-button {
        display:none;
    }

    &__button {
        display:none;
    }
}

@media screen and (min-width:768px) {
    
    .navbar {
        padding: 34px 60px;
        background-color: #FFF;

        &__burger {
            display:none;
        }

        &__links-button {
            display:flex;
            align-items: center;
        }

        &__links {
            display:flex;
            justify-content: space-between;
            gap:27px;
            margin: 0 20px 0 0;
        }

        &__button {
            display:flex;
        }
    }

}

@media screen and (min-width:992px) {
    
    .navbar {
        padding: 37px 60px;
        background-color: #FFF;

        &__burger {
            display:none;
        }

        &__ring {
            position:absolute;
            left:calc(35%);
            top:0px;
        }

        &__links {
            display:flex;
            justify-content: space-between;
            gap:54px;
            margin: 0 41px 0 0;
        }
    }

}

@media screen and (min-width:1200px) {
    
    .navbar {
        padding: 37px 160px;
        background-color: #FFF;

        &__burger {
            display:none;
        }

        &__links {
            display:flex;
            justify-content: space-between;
            gap:54px;
            margin: 0 41px 0 0;
        }
    }

}