@import '../../../style/style.scss';

.picture-text {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0px 12.316177368164062px 49.26470947265625px 0px #F2F5FA;
    border-radius: 14.779px;
    background: #FFF;

    &--large {
        width:100%;
        padding: 0;
        box-shadow: none;
    }

    &__container {
        width: 100%;
        display: flex;
        padding: 17px 13px 16px 15px;

        &--large {
            box-shadow: none;
            display: flex;
            align-items: center;
            padding: 0;
        }
    }

    &__image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;

        &--card {
            width: 24px;
            height: 24px;
        }

        &--large {
            width: 32px;
            height: 32px;
        }
    }

    &__text {
        margin: 0 0 0 10px;
        width: 85%;

        &--spacing-off {
            margin: 0;
        }
    }
}

.no-box-shadow {
    box-shadow: none;
}

.display-none {
    display: none;
}

.no-padding {
    padding: 0;
}

@media screen and (min-width: 576px) {
    
    .picture-text {
        max-width:410px;
    }

}

@media screen and (min-width: 768px) {

    .picture-text {
        box-shadow: 0px 0px 80px 0px #F2F5FA;
        border-radius: 24px;
        max-width: none;

        &--large {
            padding: 0;
            box-shadow: none;
        }

        &__container {
            padding: 24.37px 26px 22.63px 24px;

            &--large {
                padding: 0;
            }
        }

        &__image {
            width: 48px;
            height: 48px;

            &--card {
                width: 24px;
                height: 24px;
            }

            &--large {
                width: 60px;
                height: 60px;
            }
        }

        &__text {
            width: 90%;
        }
    }
}