@import '../../../style/style.scss';

.micro-image-text {
    display: flex;
    justify-content: space-between;
    position:relative;
    padding: 4.98px 0 5.85px 0;

    &__picture-container {
        display: flex;
        gap: 2.35px;

        &--small {
            background-color: map-get($palette, base);
            border-radius: 2.343px;
            opacity: 0.03;
        }
    }

    &__picture {
        width: 7.028px;
        height: 7.028px;
        border-radius: 7.028px;
        object-fit: cover;
    }
}