.title-searchbar {
    display: flex;
    flex-direction: column;
    position:relative;

    &__titles-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__dots {
        display: none;
    }

    &__title {

        &--small {
            display: block;
            color: blue;
        }

        &--large {
            display: none;
        }
    }

    &__searchbar {
        margin: 30px 0 0 0;
    }

    &__list {
        margin: 21px 0 0 0;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.visible-xl {
    display:none;
}

@media screen and (min-width:768px) {

    .title-searchbar {

        &__ring-container {
            position: relative;
            height: 100%;
            width: 100%;
        }

        &__ring {
            position: absolute;

            &--ring1 {
                top: -30%;
                left: 66.5%;
                width: 58px;
                height: 58px;
            }

            &--ring2 {
                top: 95%;
                left: 104%;
                width: 88px;
                height: 88px;
            }
        }

        &__titles-container {
            display: flex;
            flex-direction: column;
            gap: 31px;
        }

        &__dots {
            display: block;
            position: absolute;
            top: -9px;
            left: -34px;
            z-index: -1;
        }

        &__title {
            &--small {
                display: none;
            }

            &--large {
                display: block;
            }

            &--no-ios {
                padding: 0 94px;
                text-align: center;
            }
        }

        &__searchbar {

            &--no-ios {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }

        }

        &__list {
            width: 82%;
            margin: 28.73px 0 0 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &--no-ios {
                width: 45%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    .visible-xl {
        display:block;
    }
}