
.text-list-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 80px 0 0 0;

    &__icon {
        margin-bottom: 40px;
    }

    &__list {
        display:flex;
        justify-content: space-between;
        flex-wrap:wrap;
        margin:30px 0 0 0;
        padding:0;
        row-gap: 20px;
    }

    &__list-item {
        width:50%;
    }
}

@media screen and (min-width: 768px) {
    
    .text-list-wrapper {

        &__icon {
            width:75px;
            height: 75px;
        }

    }

}