.text-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;

    &__container {
        flex-direction: column;
        align-items: flex-start;

        &--centered {
            align-items: center;
        }
    }

    &__texts {
        width: 100%;
    }

    &__children {
        width: 100%;
        margin-top:60px;
    }

    &__icon {
        position: relative;
        top: 0;
        width:36px;
        height:36px;
        margin-bottom:40px;
    }

    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 30px 0 0 0;
        padding: 0;
        row-gap: 20px;
    }

    &__list-item {
        width: 50%;
    }
}

@media screen and (min-width: 576px) {
    
    .text-list-wrapper {
        align-items: center;

        &__icon--spaced {
            margin:0;
        }

        &__icon {
            width: 75px;
            height: 75px;
/*             left: calc(50% + 32px); */
    
            &--start {
                left:0;
            }
        }
    }

}

@media screen and (min-width: 992px) {

    .text-list-wrapper {
        align-items: flex-start;

        &__container {
            display: flex;
            flex-direction: row-reverse;
            gap: 32px;

            &--row {
                flex-direction: row;
            }
        }

        &__texts {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__children {
            margin:0;
            width: 50%;
            display: flex;
            align-items: flex-end;
        }

        &__icon--spaced {
            margin:0;
        }

        &__icon {
            width: 75px;
            height: 75px;
            left: calc(50% + 32px);
    
            &--start {
                left:0;
            }
        }

    }

}