.icon-text-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap:20px;

    &__icon-text-container {
        display:flex;
        flex-direction: row;
        align-items: center;
        margin-bottom:20px;
    }

    &__icon {
        margin: 0 12px 0 0;
        width:36px;
        height:36px;
    }

    &__bar-container {

        &--small {
            display:flex;
        }

        &--large {
            display:none;
        }
    }

    &__bar {
        margin:0 0 20px 0;

        &--empty {
            width:158px;
            height: 3px;
            border-radius: 44.138px;
            background: rgba(25, 67, 239, 0.10);
        }

        &--half {
            width:158px;
        }

        &--no-ios {
            background: #DBF1F0;
        }

    }
}

@media screen and (min-width: 768px) {
    
    .icon-text-bar {

        &__bar-container {

            &--small {
                display:none;
            }

            &--large {
                display:flex;
            }
        }

        &__icon {
            margin: 0 12px 0 0;
            width:36px;
            height: 36px;
        }

        &__bar {

            &--empty {
                width:247px;
                height:4px;
            }

            &--half {
                width:247px;
                height:4px;
            }

            &--no-ios {
                background: #DBF1F0;
            }
        }
    }

}