.card {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 22.4px 12.31px 17.45px 14.78px;
    box-shadow: 0px 0px 80px 0px #F2F5FA;
    border-radius: 30px;
    background: #FFF;

    &__header {
        width: 100%;
        margin-bottom: 11.32px;
    }

    &__image {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }

    &__spacer {
        width: 100%;
        height: 1px;
        opacity: 0.6;
        background: #EAEDF3;
    }

    &__body {
        width: 100%;
        margin: 12px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__images-container {
        margin-top: 8.56px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
    }

    &__user {
        width: 50%;
    }

    &__paragraph {
        padding: 3% 11% 2% 2.8%;
        border-radius: 4.926px;
        background: #FBFBFD;
    }

    &__footer {
        width: 100%;
        height: 36.6222px;
        margin: 27.17px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width:768px) {
    .card {
        padding: 36.38px 20px 15.05px 24px;
        margin: 0;

        &__user {
            width: 33.333%;
        }

        &__paragraph {
            padding: 2% 13% 3.2% 3%;
        }

    }
}