.image-multi-icon {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:80.5px;

    &__icon-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width:100%;

        &--visible-xs {
            display:flex;
        }
    
        &--visible-xl {
            display:none;
        }
    }
}

@media screen and (min-width: 768px) {
    
    .image-multi-icon {

        &__icon-container {
            justify-content: space-around;
            width: 100%;

            &--visible-xs {
                display:none;
            }
        
            &--visible-xl {
                display:flex;
            }
        }
    }

}