.searchbar {
    width:276px;
    height:40px;
    background-color: #FFF;
    border-radius:49px;
    overflow:hidden;
    display:flex;
    justify-content: space-between;
    align-items: center;


    &__input {
        background-color: #FFF;
        color:#000;
        border:0;
        margin:0 0 0 5px;

        &:focus-visible {
            outline: none;
        }
    }

    &__searchbar {
        margin-top:30px;
    }
}

@media screen and (min-width:768px) {

    .searchbar {
        width:100%;
        height:60px;

        &__input {
            width:70%;
        }
    }

}