@import '../../../style/style.scss';

.button {
    font-size: 13px;
    font-weight: 400;
    display:flex;
    justify-content: center;
    align-items: center;

    &--small {
        width:20%;
        height: 22.552px;
        border-radius: 20.938px;
    }
    
    &--default {
        border-radius: 20.938px;
        height:30px;
    }
    
    &--large {
        border-radius: 49px;
        width:40.57%;
        height: 30px;
    }
    
    &--blue {
        background-color: map-get($palette, primary);
    }
    
    &--green {
        background-color: map-get($palette, icon);
    }
}



@media screen and (min-width: 768px) {

    .button {
        font-size: 16px;

        &--small {
            height:100%;
            width:20%;
            border-radius: 21px;
        }
        
        &--default {
            border-radius: 49px;
            height:46px;
            width:171px;
        }
        
        &--large {
            width: 225px;
            border-radius: 49px;
            height:60px;
        }

        &--blue {
            background-color: map-get($palette, primary);
        }

        &--no-ios {
            background-color: map-get($palette, icon);
        }

        &--large-empty-blue {
            background-color: #FFF;
            border: 1.5px solid map-get($palette, primary);
            color: map-get($palette, primary);
        }

        &--large-empty-green {
            background-color: #FFF;
            border: 1.5px solid map-get($palette, icon);
            color: map-get($palette, icon)
        }
    }

}