$palette: (
    primary: #1943EF,
    base: #222,
    text: #73738D,
    button: #FFF,
    icon: #26C296,
    detail: rgba(34, 34, 34, 0.80),
    information: rgba(34, 34, 34, 0.60),
    ring-orange: #F26A36,
    ring-blue: #64CCE3
);

@font-face {
    font-family: OpenSansRegular;
    src: url('../fonts/OpenSans/OpenSans-Regular.woff');
}

@font-face {
    font-family: OpenSansBold;
    src: url('../fonts/OpenSans/OpenSans-Bold.woff');
}

.visible-xs-flex {
    display: flex;
}


.visible-xl-flex {
    display: none;
}

.display-none {
    display:none;
}

.visible-xs {
    display: block;
}

.visible-xl {
    display: none;
}

@media screen and (min-width: 768px) {


    .visible-xs-flex {
        display: none;
    }


    .visible-xl-flex {
        display: flex;
    }

    .visible-xs {
        display: none;
    }
    
    .visible-xl {
        display: block;
    }

}